html, body, #root, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;

  .navbar {
    flex: none;
  }

  .page {
    display: flex;
    flex: auto;
    justify-content: center;
    overflow-y: auto;

    .page-container {
      flex: auto;
      margin-top: 20px;
      max-width: 1200px;
      width: 100%;
    }
  }
}
