@spinner-primary: CornflowerBlue;
@spinner-secondary: #EEEEEE;
@spinner-diameter: 30px;
@spinner-thickness: 5px;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1.5s ease-out infinite;
  border: @spinner-thickness solid @spinner-secondary;
  border-bottom: @spinner-thickness solid @spinner-primary;
  border-radius: 50%;
  border-top: @spinner-thickness solid @spinner-primary;
  height: @spinner-diameter;
  width: @spinner-diameter;
}
