.review-profile {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 5px;

  .review-profile-top {
    display: flex;
    flex-basis: 1;
    flex-direction: row;
    flex: 3;
    justify-content: flex-start;

    .review-profile-image {
      height: 120px;
      margin: 0 10px 10px 0;
      width: 120px;
    }

    .review-profile-name {
      font-size: 18px;
      font-weight: bold;
      text-align: left;
    }
  }

  .review-profile-bottom {
    flex: 1;

    .review-profile-card {
      height: 100%;

      .review-profile-card-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }
  }
}
