.login-container {
  display: flex;
  justify-content: center;

  .loginbox {
    margin-bottom: 20px;
  }

  .login-status {
    display: flex;
    justify-content: center;

    .login-error {
      flex: 1;
    }
  }
}
